@import url("//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800");
@import url("/glyphs/css/fontello.css");


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: linear-gradient(black,#020229,black);
  color: #adabab;
}
a {
  color: #87c7ff;
}
a:hover {
  color: #3e7ef3;
}
input {
    background: #bdbdbd;
    border-color: #bdbdbd;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bdbdbd;
    margin: 1em 0;
    padding: 0;
}
.centeraligned {
  text-align:center;
}

#explanation {
  font: 11px verdana, arial, sans-serif;
}

#tabnav {
  text-align: left;
  margin: 1em 0 1em 0;
  font: bold 11px verdana, arial, sans-serif;
  border-bottom: 1px solid #bdbdbd;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
}

#tabnav li{
  display: inline;
  padding: 3px 4px;
  border: 1px solid #bdbdbd;
  background-color: #999;
  color: #000;
  margin-right: 0;
  text-decoration: none;
  border-bottom: none;
}

#tabnav .selected  {
  background: #fff;
}

#tabnav li:hover {
  background: #bdbdbd;
  cursor:pointer;
}

.tooltip {
  top: 0;
  left: 0;
  color: #444;
  position: absolute;
  text-align: left;
  padding: 4px;
  font-size: 14px;
  line-height: 15px;
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  float: right;
  min-width: 150px;
  max-width: 400px;
}
